
@font-face {
  font-family: 'Assistant-Regular';
  src: url('Assistant-Regular.eot?#iefix') format('embedded-opentype'),  url('Assistant-Regular.woff') format('woff'), url('Assistant-Regular.ttf')  format('truetype'), url('Assistant-Regular.svg#Assistant-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
