
@font-face {
  font-family: 'Assistant-SemiBold';
  src: url('Assistant-SemiBold.eot?#iefix') format('embedded-opentype'),  url('Assistant-SemiBold.woff') format('woff'), url('Assistant-SemiBold.ttf')  format('truetype'), url('Assistant-SemiBold.svg#Assistant-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
